body {
	background-image: url("../img/burgerBackground.jpg");
	background-size: cover;
	background-repeat: repeat;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	height: fit-content;
	margin-top: -5px;
	align-content: center;
}

h1, h2, h3, h4, h5, p, label {
	color: rgb(211, 211, 211) !important;
	font-family: "Source Sans Pro", arial, sans-serif;
}

ul, li {
	list-style-type: none;
	color: rgb(211, 211, 211) !important;
	margin-top: 10px;
}

hr {
	background-color: #fff;
	margin-top: 0px;
}

.container-burgers {
	text-align: center;
	margin-top: 50px;
}

.jumbotron.jumbotron-home {
	background: none;
	width: fit-content;
}

.card {
	background-color: rgb(46, 46, 46) !important;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	text-align: center;
	margin-right: 30px;
	margin-bottom: 50px;
	opacity: 0.9;
}

.btn-primary {
	width: 100%;
	display: inline-block;
	text-align: center;
	background: rgb(9, 219, 9) !important;
	font-weight: bold;
	color: white !important;
	border: 0 none;
	border-radius: 5px;
	border-color:  rgb(9, 219, 9) !important;
	cursor: pointer;
	margin-top: 5px;
}

.btn-danger {
	width: 100%;
	display: inline-block;
	text-align: center;
	font-weight: bold;
	color: white !important;
	border: 0 none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 5px;
}

row-burgerBtn {
	align-content: center;
}

.btn:hover:not(.downPointing), .btn:focus:not(.downPointing) {
	box-shadow: 0 0 0 2px white, 0 0 0 3px rgb(9, 219, 9);
}